@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --isModalOpen: none;
}

body::after {
    content: "";
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: var(--isModalOpen);
}
